/*Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {
	/*header start*/
	.logo {
    width: 80%;
    }
	.menu ul li a{
    text-align: right;
	padding: 0 0 !important;
	
     }
	/*header end*/
	/*slider start*/
         .slider {
             padding-bottom: 60px;
          } 
          .c_ind {
               bottom: -50px;
          }   
          .c_ind [data-bs-target] {
                 width: 13px;
                 height: 13px;
             }             
           .s_text {
              margin-top: 0px;
            }  
            .s_text h1 {
              margin-bottom: 10px;
              
           }  
           .s_text h3 {
              margin-bottom: 20px;
              letter-spacing: 0px;
              word-spacing: 0px;
          }
          .s_text p {
              margin-bottom: 27px
              line-height: 20px;
              letter-spacing: 0;
          }
          .s_icon li i {
              margin-right: 10px;
              font-size: 34px;
           }
	/*slider end*/
	

/*feature  start*/
.c_padding{
    padding-top: 50px;
    padding-bottom: 70px;
   }
   .c_h1 {
    font-size: 26px;
    }
.c_p {
    font-size: 17px;
    letter-spacing: 0px;
    word-spacing: 0px;
   }
   .c_mt_0 {
    margin-top: 30px;
   }
   .si_icon {
    font-size: 45px;
   }
.si_text {
    margin-top: 0;
    text-align: center;
   }
   .si_text h2 {
    margin-bottom: 10px;
    }
/*feature  end*/
/*contact start*/
      .c_margin {
          margin-top: 45px;
          margin-bottom: 45px;
      }
      .social_icon ul li i {
          width: 35px;
          height: 31px;
          font-size: 30px;
      }
/*contact end*/
/*footer start*/
	footer{
		padding-bottom: 80px;
		text-align: center;
	}
	.f_2{
       margin-top: 20px;
	}
	/*footer end*/
}
/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) {
	/*header start*/
	.menu ul li a{
    text-align: right;
	padding: 0 0 !important;
    }
	/*header end*/
	/*slider start*/
         .slider {
            padding-bottom: 80px;
          } 
          .c_ind {
                 bottom: -60px;
          }   
          .c_ind [data-bs-target] {
                 width: 13px;
                 height: 13px;
             }             
           .s_text {
              margin-top: 0px;
            }    
	/*slider end*/
	/*feature start*/
	.c_padding {
    padding-top: 60px;
    padding-bottom: 80px;
     }
     .c_mt_0 {
    margin-top: 40px;
     }
     .c_mt_0 {
       text-align: center;
     }
	/*feature end*/
	/*contact start*/
	     .c_margin {
         margin-top: 25px;
         margin-bottom: 45px;
         }
	/*contact end*/
	/*footer start*/
	footer{
		padding-bottom: 80px;
		text-align: center;
	}
	.f_2{
       margin-top: 20px;
	}
	/*footer end*/
	
}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) {
	/*header start*/
	.menu ul li a{
    text-align: right;
	padding: 0 0 !important;
	
}
	/*header end*/
	/*slider start*/
	  .s_text {
     margin-top: 30px;
    }
	/*slider end*/
	/*feature start*/
	.c_padding{
	padding-top: 80px;
	padding-bottom: 100px;
    }
    .c_mt_0 {
    margin-top: 50px;
    }
	.si_icon{
    }
	/*feature end*/
}

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) {
	
}

/*Extra Large devices (desktops, 1200px and up)*/
@media (min-width: 1200px) and (max-width: 1399.98px) {
	
}

/*Extra Extra large devices (Extra Extra large desktops, 1400px and up)*/
@media (min-width: 1400px) {
	
}